//
//  configuration.xcconfig
//  VDDocumentCapture
//
//  Copyright © 2018 das-nano. All rights reserved.
//

// SPAIN
SPAIN_COUNTRY=1
DNI20=1
DNI30=1
NIE=1
NIE2003=1
NIE2010=1
PASSPORT=1
ES_DRIVINGLICENSE_2013=1

// MEXICO
MEXICO_COUNTRY=1
IFE2002=1
IFE2008=1
IFE2013=1
IFEE=1

// MALAYSIA
MALAYSIA_COUNTRY=1
MYS2001=1

// ARGENTINA
ARGENTINA_COUNTRY=1
ARG2009=1
ARG2012=1

// PERU
PERU_COUNTRY=1
ES_PE_IDCARD_2013=1
PE_IDCARD_2007=1

// COLOMBIA
COLOMBIA_COUNTRY=1
CO_IDCARD_2000=1

// CHILE
CHILE_COUNTRY=1
CL_IDCARD_2002=1
CL_IDCARD_2013=1

// PORTUGAL
PORTUGAL_COUNTRY=1
PT_IDCARD_2007=1
PT_IDCARD_2015=1

// PARAGUAY
PARAGUAY_COUNTRY=1
PY_IDCARD_2007=1
PY_IDCARD_2009=1

// VENEZUELA
VENEZUELA_COUNTRY=1
VE_IDCARD_2011=1

// GERMANY
GERMANY_COUNTRY=1
DE_IDCARD_2010=1
DE_IDCARD_2007=1

// BELGIUM
BELGIUM_COUNTRY=1
BE_IDCARD_2010=1
BE_IDCARD_2008=1

// FINLAND
FINLAND_COUNTRY=1
FI_IDCARD_2017=1
FI_IDCARD_2011=1

// FRANCE
FRANCE_COUNTRY=1
FR_IDCARD_1994=1

// NETHERLAND
NETHERLAND_COUNTRY=1
NL_IDCARD_2014=1
NL_IDCARD_2011=1

// ITALY
ITALY_COUNTRY=1
IT_IDCARD_2004=1
IT_IDCARD_2016=1

// SWITCHERLAND
SWITCHERLAND_COUNTRY=1
CH_IDCARD_2003=1

// AUSTRIA
AUSTRIA_COUNTRY=1
AT_IDCARD_2002=1
AT_IDCARD_2010=1
AT_IDCARD_2014=1
AT_DRIVINGLICENSE_2006=1
AT_DRIVINGLICENSE_2014=1
AT_DRIVINGLICENSE_2004=1

// POLAND
POLAND_COUNTRY=1
PL_IDCARD_2001=1
PL_IDCARD_2015=1

// ROMANIA
ROMANIA_COUNTRY=1
RO_IDCARD_2009=1

// SWEDEN
SWEDEN_COUNTRY=1
SE_IDCARD_2012=1

// BULGARIA
BULGARIA_COUNTRY=1
BG_IDCARD_2006=1
BG_IDCARD_2010=1

// CROATIA
CROATIA_COUNTRY=1
HR_IDCARD_2003=1
HR_IDCARD_2015=1

// HUNGARY
HUNGARY_COUNTRY=1
HU_IDCARD_2000=1
HU_IDCARD_2015=1

// GREATBRITAIN
GREATBRITAIN_COUNTRY=1
GB_DRIVINGLICENSE_2015=1

// IRELAND
IRELAND_COUNTRY=1
IE_PASSPORT_2015=1

// DENMARK
DENMARK_COUNTRY=1
DK_DRIVINGLICENSE_1997=1
DK_DRIVINGLICENSE_2013=1

// ICELAND
ICELAND_COUNTRY=1
IS_DRIVINGLICENSE_2001=1
IS_DRIVINGLICENSE_2013=1

// NORWAY
NORWAY_COUNTRY=1
NO_DRIVINGLICENSE_1998=1
NO_DRIVINGLICENSE_2007=1
NO_DRIVINGLICENSE_2013=1

// CZECHREPUBLIC
CZECHREPUBLIC_COUNTRY=1
CZ_IDCARD_2014=1
CZ_IDCARD_2003=1

// SLOVAKIA
SLOVAKIA_COUNTRY=1
SK_IDCARD_2015=1

// UKRAINE
UKRAINE_COUNTRY=1
UA_IDCARD_2016=1

// CYPRUS
CYPRUS_COUNTRY=1
CY_IDCARD_2008=1
CY_IDCARD_2015=1

// SLOVENIA
SLOVENIA_COUNTRY=1
SI_IDCARD_1998=1

// GREECE
GREECE_COUNTRY=1
GR_IDCARD_2010=1

// NOT COUNTRY VARS
GUIDES=1
OBVERSE_FLASH=1
REVERSE_FLASH=1

